.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.section {
  position: relative;
  background-color: var(--smokeyGrey);
  border-top: 5px solid black;
  width: 100%;
  height: max-content;
}
