@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@media screen and (min-width: 1921px) and (min-height: 1081px) { /* Desktop */
  .pageContent {
    width: 100vw;
    height: 100vh;
    margin-top: 82px;
  }
}
@media screen and (max-width: 1920px) and (max-height: 1080px) { /* Desktop */
  .pageContent {
    width: 100vw;
    height: 100vh;
    margin-top: 82px;
  }
}
@media  screen and (max-width: 1024px) and (max-height: 1366px) { /* Tablet */
  .pageContent {
    width: 100vw;
    height: 200vw;
    margin-top: 0px;
  }
}
@media screen and (max-width: 430px) and (max-height: 932px) { /* Mobile */
  .pageContent {
    width: 100vw;
    height: 300vh;
    margin-top: 0px;
  }
}
.pageContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--smokeyGrey);
  width: 100%;
  height: max-content;
  background-image: url("../../assets/placeholder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title#about {
  position: relative;
  text-align: center;
  padding: 150px 0px 15px 0px;
  font-family: 'Press Start 2P', system-ui;
  font-size: 40px;
  color: aqua;
  -webkit-text-stroke: 1px white;
}
.sectionContent#about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5rem;
  padding: 10px;
}
.imageBox#about {
  position: relative;
  left: 0px;
  width: 400px;
  height: 400px;
  background-color: aqua;
  border: 4px solid white;
  border-radius: 10px;
}
.imageBox img#about {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 6px;
}
.eBox {
  display: flex;
  flex-direction: column;
}
.subheading#about {
  position: relative;
  top: 2rem;
  color: aqua;
  font-size: 2rem;
  padding-left: 2rem;
  text-decoration: underline;
}
.description#about {
  text-align: start;
  margin-left: 2rem;
  width: 50rem;
  height: 100px;
  padding: 50px 10px 50px 10px;
  background-color: rgba(0,255,255,0.25);
  border-radius: 10px;
  color: var(--offwhite);
  font-size:1rem;
}

.sectionContent#community {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5rem;
  padding: 10px;
}
.imageBox#community {
  position: relative;
  right: 0px;
  width: 400px;
  height: 400px;
  background-color: aqua;
  border: 4px solid white;
  border-radius: 10px;
}
.imageBox img#community {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 6px;
  transform: scaleX(-1);
}
.subheading#community {
  position: relative;
  text-align: end;
  top: 2rem;
  color: aqua;
  font-size: 2rem;
  padding-right: 2rem;
  text-decoration: underline;
}
.description#community {
  text-align: end;
  margin-right: 2rem;
  width: 50rem;
  height: 100px;
  padding: 50px 10px 50px 10px;
  background-color: rgba(0,255,255,0.25);
  border-radius: 10px;
  color: var(--offwhite);
  font-size:1rem;
}
