:root {
  --bluelotus: #1f456E;
  --smokeygrey: #c3c0b7;
  --offblack: #060606;
  --offwhite: #e3e4e6;
  overflow-x: hidden;
}
html {
  background-color: var(--smokeygrey);
  margin: 0px;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0px;
}
::-webkit-scrollbar {
  width: 8px;
} ::-webkit-scrollbar-track {
  background-color: var(--offwhite);
} ::-webkit-scrollbar-thumb {
  background-color: var(--bluelotus);
} ::-webkit-scrollbar-thumb:hover {
  background-color: #3478c2;
}
