:root {
  --bluelotus: #1f456E;
  --smokeygrey: #c3c0b7;
  --offblack: #060606;
  --offwhite: #e3e4e6;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media only screen and (min-width: 1921px) and (min-height: 1081px) { /* Desktop */
  .pageContent {
    width: 100vw;
    height: 100vh;
    margin-top: 82px;
  }
}
@media only screen and (max-width: 1920px) and (max-height: 1080px) { /* Desktop */
  .pageContent {
    width: 100vw;
    height: 100vh;
    margin-top: 82px;
  }
}
@media only screen and (max-width: 430px) and (max-height: 932px) { /* Mobile */
  .pageContent {
    width: 100vw;
    height: 300vh;
    margin-top: 0px;
  }
}
html {
  background-color: var(--smokeygrey);
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 8px;
} ::-webkit-scrollbar-track {
  background-color: var(--offwhite);
} ::-webkit-scrollbar-thumb {
  background-color: var(--bluelotus);
} ::-webkit-scrollbar-thumb:hover {
  background-color: #3478c2;
}
