@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}
::-webkit-scrollbar-track {
  background-color: #1f456E;
}
::-webkit-scrollbar-thumb {
  background-color: aqua; 
  border-radius: 10px; 
  border: 2px solid #1f456E; 
}
#content {
  scrollbar-width: thin; 
  scrollbar-color: aqua #1f456E; 
}
h2 {
  font-family: "Press Start 2P", system-ui;
}
#NavBar {
  font-family: "Protest Guerrilla", sans-serif;
}
#title {
  font-family: "Press Start 2P", system-ui;
  -webkit-text-stroke: 1px white;
}
#smallText {
  font-family: "Montserrat", sans-serif;
}
