:root {
    --bluelotus: #1f456E;
    --smokeygrey: #c3c0b7;
    --offblack: #060606;
    --offwhite: #e3e4e6;
  }
#IconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    margin: 0px;
}
.IconBackground {
    position: fixed;
    top: -127px;
    scale: 45%;
    z-index: 99;
    margin: 0px;
}
.IconForeground {
    display: flex;
    justify-content: center;
}
.IconImage {
    position: relative;
    display: flex;
    justify-content: center;
    top: 45px;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    scale: 100%;
    padding: 5px;
}
.IconImage:hover {
    padding: 5px;
    background-color: rgba(0,255,255,0.35)
}
